body {
    margin: 0;
    height: 100%;
    background-color: #f7f7f7;

}

.head-text
{
    text-align: left;
    margin-left: 25%;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.header {
    padding: 15px;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.logo-content-img {
    border: 0px solid #42515f;
}

.address-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    padding-left: 5px;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: capitalize;
}

.book-text {
    color: #42515f;
}